#heading {
  background-color: #000020;
  color: aliceblue;
  border-radius: 20px 10px;
  padding-bottom: 5px;
  font-family: monospace;
}

.texts {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 4px solid #000020;
  border-radius: 2.5ch 2.5ch 7.5ch 2.5ch;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px;
}
