#heading {
  background-color: #000020;
  color: aliceblue;
  border-radius: 20px 10px;
  padding-bottom: 5px;
  font-family: monospace;
}

body {
  background-color: rgb(15, 147, 103);
}

.texts {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 5px solid #000020;
  border-radius: 20px 20px;
  background-image: url(https://img.magnific.com/fotos-premium/fundo-de-tecnologia-abstrata-de-codigo-de-programacao-do-desenvolvedor-de-software-e-script-de-computador_34663-31.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  padding: 2px;
}
